<h1 style="text-align: center;">HydroProspector Help File</h1>

<h2>Purpose of the Application</h2>
<p>The purpose of the HydroProspector app is calculate the reservior area and respective volume of water associated with
    a user-designed dam site and dam height within Yichang, China and the surrounding region.&nbsp;</p>

<h2>User Interface</h2>
<p style="text-align: center;"><img src="/static/hydroprospector/images/interface.gif" style="width:800px;height:400px;"></p>
<p style="text-align: center;"><em><strong>Figure 1: User Interface</strong></em></p>

<h2>How to Use the App</h2>
<p>The first step is to select a desired dam loacation on the map. User can zoom to a river by clicking on the map, or by clicking the
    plus and minus buttons in the upper left corner of the map. Once zoomed in, click exactly on the river at the desired
    location for a dam.&nbsp; After clicking, a point will display in the location where the mouse was clicked
    indicating the potential dam location, shown as Figure 2.</p>
<p style="text-align: center;"><img src="/static/hydroprospector/images/selectdam.gif" style="width:800px;height:400px;"></p>
<p style="text-align: center;"><em><strong>Figure 2: Click on the river to select dam location</strong></em></p>

<p>The next step is is to type in the dam height in the bar provided in the upper left corner of the page, shown as Figure 3.</p>
<p style="text-align: center;"><img src="/static/hydroprospector/images/input.gif" style="width:300px;height:300px;"></p>
<p style="text-align: center;"><em><strong>Figure 3: Input dam height and click on run botton</strong></em></p>

<p>Once the river has been selected, click the "Run HydroProspector" button to calculate. The calculation status will shown under the button.
    Once the status become "Succeed!", the reservoir and the watershed associated with the potential dam will be displayed on the map, while the
    volume of the reservoir will be displayed under the button, shown as Figure 4:</p>
<p style="text-align: center;"><img src="/static/hydroprospector/images/result.gif" style="width:800px;height:400px;"></p>
<p style="text-align: center;"><em><strong>Figure 4: Results </strong></em></p>

<h2>Use/Restrictions</h2>
<p>The app currently is only functional in the region covered by the DEM.&nbsp; The app will not function properly if a
    river outside of the DEM is selected.&nbsp;</p>
<p>The scripts created to run the HydroProspector app are available on github.com.&nbsp; All scripts are licensed under
    the MIT License as follows:</p>
<p>Copyright (c) 2016 Xiaohui Qiao and Jake Nelson <br /><br />Permission is hereby granted, free of charge, to any person obtaining a
    copy of this software and associated documentation files (the "Software"), to deal in the Software without
    restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense,
    and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the
    following conditions:<br /><br />The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.<br /><br /><em>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF
        ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
        PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
        CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR
        IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</em></p>