{% extends "hydroprospector/base.html" %}

{% load tethys_gizmos %}

{% load staticfiles %}

{% block styles %}
{{ block.super }}
    <link rel="stylesheet" href="https://js.arcgis.com/3.16/esri/css/esri.css">
    <style>
      #mapDiv {
        height: 500px;
        margin: 0;
        padding: 0;
        width: 100%;
      }
    </style>
{% endblock %}

{% block app_navigation_items %}

<button type="button" class="btn btn-default" onclick="window.location='/apps/hydroprospector/help_file/'">User Help File</button>

<button type="button" class="btn btn-default" onclick="window.location='/apps/hydroprospector/technical_file/'">Technical Documentation</button>

<a class="btn btn-default" href="https://github.com/byuceen514/Sherry_testapp" target="_blank">More Info</a>

<br><br>

  <font size="3"><b>Step1: Click on the map to zoom in, select one point exactly on the river</b></font>
  <br><br>
  <font size="3"><b>Step2: </b></font>

{% gizmo text_input dam_h %}

  <font size="3"><b>Step3: Click on this button to run HydroProspector: </b></font>
  <br>

{% gizmo button btnCalculate %}

<div id="statusDiv">
    <p id="volstatus"></p>
  </div>

<div id="volDiv">
    <p id="volume"></p>
  </div>

{% endblock %}

{% block app_content %}

<div id="mapDiv"></div>

{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="https://js.arcgis.com/3.16compact/"></script>
  <script src="{% static 'hydroprospector/js/asyn_map.js' %}"></script>

{% endblock %}

