{% extends "my_first_app/base.html" %}

{% load tethys_gizmos %}

{% load staticfiles %}

{% block styles %}
{{ block.super }}
    <link rel="stylesheet" href="https://js.arcgis.com/3.16/esri/css/esri.css">
    <style>
      #mapDiv {
        height: 500px;
        margin: 0;
        padding: 0;
        width: 100%;
      }
      #info {
        bottom: 20px;
        color: #444;
        height: auto;
        font-family: arial;
        left: 20px;
        margin: 5px;
        padding: 10px;
        position: absolute;
        text-align: left;
        width: 200px;
        z-index: 40;
      }
    </style>
{% endblock %}

{% block app_navigation_items %}

  <font size="3"><b>Select one point exactly on the river</b></font>
  <br>

{% gizmo text_input dam_h %}

{% gizmo button btnCalculate %}

<div id="statusDiv">
    <p id="volstatus"></p>
  </div>

<div id="volDiv">
    <p id="volume"></p>
  </div>

{% endblock %}

{% block app_content %}

<div id="mapDiv"></div>

{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="https://js.arcgis.com/3.16compact/"></script>
  <script src="{% static 'hydroprospector/js/asyn_map.js' %}"></script>

{% endblock %}

